@font-face{
	font-family:Michroma Regular;
	src:url(../fonts/Michroma-Regular.ttf);
}
*{
	font-family:Michroma Regular;
	-webkit-tap-highlight-color:transparent
}
html {
	background-color: rgb(128,128,128);
}
img {
	overflow-clip-margin: content-box;
	overflow: clip;
}
#ui {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	border-radius: 0 0 0 5px;
	display: flex;
	flex-direction: column;
	pointer-events: auto;
}
#chatbox {
	background-color: #ffffff;
	border-radius: 5px;
	margin-bottom: 5px;
	width: 100%;
	height: 100%;
	font-size: 13px;
	word-wrap: break-word;
	overflow: auto;
}
#chatmsg {
	border-radius: 5px;
	border: none;
	width: 100%;
	background-color: rgba(255, 255, 255, .8);
	user-select: none;
}
#sendmsg {
	margin: 5px;
	background-color: rgb(168 171 255 / 40%);
	border-radius: 5px;
	width: 20px;
	padding: 5px;
	margin: 5px 0 0 5px;
}
.msgcontainer {
	display: flex;
	justify-content: stretch;
}
.button {
	cursor: pointer;
	transition: all .1s;
	user-select: none;
}
