@font-face{
	font-family:Michroma Regular;
	src:url(../fonts/Michroma-Regular.ttf);
}
*{
	font-family:Michroma Regular;
	-webkit-tap-highlight-color:transparent
}
#ui {
	width: 200px;
	background-color: rgba(30, 30, 30, .2);
	border-radius: 0 0 0 5px;
	padding: 10px;
	display: flex;
	flex-direction: column;
	pointer-events: auto;
}
#chatbox {
	background-color: #ffffff;
	border-radius: 5px;
	margin-bottom: 5px;
	width: 100%;
	height: 100%;
	font-size: 13px;
	word-wrap: break-word;
	overflow: auto;
}
#chatmsg {
	border-radius: 5px;
	border: none;
	width: 100%;
	background-color: rgba(255, 255, 255, .8);
	user-select: none;
}
.msgcontainer {
	display: flex;
	justify-content: stretch;
}
