@font-face{
	font-family:Michroma Regular;
	src:url(../fonts/Michroma-Regular.ttf);
}
*{
	font-family:Michroma Regular;
	-webkit-tap-highlight-color:transparent
}
handle {
	color: #808080;
	font-size: 8px;
}
html {
	background-color: rgb(128,128,128);
}
img {
	overflow-clip-margin: content-box;
	overflow: clip;
}
#usermenu {
	background-color: rgba(30, 30, 30, .5);
	color: #fff;
	position: absolute;
	right: 8px;
	padding: 5px;
	border-radius: 5px 5px 5px 5px;
	pointer-events: auto;
	transition: all .5s;
	display: flex;
	width: 250px;
	height: 130px;
	max-height: 70vh;
	justify-content: space-between;
	-webkit-user-select: none;
	user-select: none;
}
#ui {
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	border-radius: 0 0 0 5px;
	display: flex;
	flex-direction: column;
	pointer-events: auto;
}
#chatbox {
	background-color: #ffffff;
	border-radius: 5px;
	margin-bottom: 5px;
	width: 100%;
	height: 100%;
	font-size: 13px;
	word-wrap: break-word;
	overflow: auto;
}
#chatmsg {
	border-radius: 5px;
	border: none;
	width: 100%;
	background-color: rgba(255, 255, 255, .8);
	user-select: none;
}
#sendmsg {
	margin: 5px;
	background-color: rgb(168 171 255 / 40%);
	border-radius: 5px;
	width: 20px;
	padding: 5px;
	margin: 5px 0 0 5px;
}
.msgcontainer {
	display: flex;
	justify-content: stretch;
}
.button {
	cursor: pointer;
	transition: all .1s;
	user-select: none;
}
